* {
    box-sizing: border-box;
}

/* variables */
:root {
    --primary: #25A59E;
}

/* reset */

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */
p, h1, h2, h3 {
    padding: 1.1rem;
}
body {
    font-family: 'Gill Sans', sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
}

.header {
    text-align: center;
    /* position: relative; */
    padding: 0;
}

h1 {
    font-size: 1.8em;
}

.header-images {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.banner {
    position: relative;
}

.couples {
    position: relative;
    width: 103%;
    top: 23px;
    height: auto;
    z-index: 2;
}

.ellipse {
    position: absolute;
    width: 95%;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.blurry {
    position: absolute;
    width: 100%;
    height: auto;
    top: -94px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.button{
    width: 147px;
    height: 54px;
    background: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 12px;
    color: #fff;
    display: inline-block;
}

.button:hover{
    color: var(--primary);
    background: #ddf3f2;
}

/* fonts */
h1, h2, h3, h4{
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
}

h3{
    font-size: 2.2em;
}

p{
    font-size: 1.1em;
}
.welcome-text h2{
    text-align: center;
}

/* mobile display */

body{
    background: #e9e6e6;
    margin: 0;
}

.destination-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.destination-section,
.offer-section,
.documentation-section,
.feedback-section {
    margin: 0 10px;
    padding: auto;
}

.offer-section h2 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.offer-section p {
    text-align: center;
    margin-top: 15px;
    padding-top: 0;
}

.guide-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.upper-border-card {
    border-top: 5px solid var(--primary);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.guide-cards {
    border-left: 1px solid #ddd;
    background: #ffffff;
}

.images{
    width: 100%;
    height: auto;
    margin: 0;
}
.cards {
    border: 1px solid #ddd;
    padding: 10px;
    background: #ffffff;
}

.cards{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.guide-cards, .doc-vid-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.card-holder{
    padding: 5px;
    margin: 0 auto;
}

.card-content{
    margin-left: 10px;
}

.card-content p{
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
}

.card-content h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
}

.location-icon {
    width: 24px;
    margin-right: 5px;
    margin-bottom: -4px;
    display: inline-block;
}

.shape{
    width: 350px;
}
.couples-2{
    width: 350px;
}
/* small tablet styles */
@media screen and (min-width:620px){

}

/* large tablets & laptops */
@media screen and (min-width:960px){

}

/* desktop styles */
@media screen and (min-width:1200px){

}

